body{
background-image:url('cryptocurrency.jfif');
background-attachment:fixed;
background-size:100%;
}
h1{
font-size:50px;
font-family:serif;
color:white;
border:2px solid white;
}
h2{
font-size:32px;
color:white;
}
p{
font-size: 16px;
font-family: 'Times New Roman', serif;
color:rgba(255,255,255,0.7);
}
a:link{
background-color:rgba(255,255,0,0.8);
color:white;
padding:10px 10px;
text-decoration:none;
float:right;
}
a:hover{
background-color:rgba(255,255,255,1);
text-decoration:underline;
color:black;
}
blockquote{
font-size: 16px;
font-family: 'Times New Roman', serif;
color:rgba(255,255,0,0.7);
}
table,th,td{
border:2px solid rgba(255,255,0,0.7);
border-collapse:collapse;
padding:10px;
font-size: 16px;
font-family: 'Times New Roman', serif;
color:rgba(255,255,0,0.7);
}
td:hover{
background-color:rgba(100,212,212,0.8);
color:rgba(255,255,255,1);
}